.brunch {
  font-family: -apple-system, Sans-Serif;
  text-align: center;
  font-size: 24pt;
  color: #3f894a;
}
#bg-base-1{

  background:#0db7d3;
}
.bg-base-1{

  background:#0db7d3;
}
.containerService {
  margin-top:20px;
  text-align:justify;
}
.radius {
  width: 450;
}
.radius-img {

  border: 2px solid #0db7d3;
  width: 400px;
  border-radius: 25px;
}

.cursor{
  cursor:pointer;
}
.modal-backdrop{

}

.mask.mask-3.v1 {
  background: rgb(13, 183, 211);
}
#accordionFour {
  text-transform: uppercase;
}
.withoutTransform {

  text-transform: none;
}
